body{
    background-color: rgb(15, 15, 15);
    color: white;
}
.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-header h1{
    text-align: center;
    margin-bottom: 2rem;
}
.login-layer{
    width: 25rem;
    height: 27rem;
    background-color: #1a1919;
    border-radius: 2rem;
    padding: 2rem;
    position: relative;
    animation: glowEffect 6s infinite linear;
}

@keyframes glowEffect{
    0%{
        box-shadow: 0 0 50px rgba(99, 102, 241, 0.4); 
    }

    25%{
        box-shadow: 0 0 50px rgba(168, 85, 247, 0.4);
    }

    50%{
        box-shadow: 0 0 50px rgba(59, 130, 246, 0.4); 
    }

    75%{
        box-shadow: 0 0 50px rgba(14, 165, 233, 0.4); 
    }

    100%{
        box-shadow: 0 0 50px rgba(99, 102, 241, 0.4);
    }
}

.login-middle{
    position: relative;
}

.login-middle .login-input{
    height: 3rem;
    width: 21.3rem;
    padding:2px;
    font-size: 1.2rem;
    background-color: #1a1919 !important;
    color: rgba(255, 255, 255, 0.747);
    border: 1px solid white;
    outline: none;
}

.login-middle label{
    position: absolute;
    font-size: 1.1rem;
    
    z-index: 1;
    top: 50%;
    left: 0.7rem;
    color: rgb(145, 140, 140);
    transform: translateY(-50%);
    transition: 0.3s ease-in;
    padding: 0 5px;
}

.login-middle .login-input:focus{
    border-color: rgb(39, 187, 236);
    box-shadow: 0 0 5px rgba(39, 187, 236, 0.5);
}


 .login-middle .login-input:focus~label,.login-middle .login-input:not(:placeholder-shown) ~ label{
    top: -2%;
    left: 10px;
    font-size: 1.1rem;
    padding: 0 0.5rem;
    background-color: #1a1919;
    color: rgb(39, 187, 236);
}


.login-button{
    position: absolute;
    bottom: 5rem;
    width: 85%;
    display: flex;
    justify-content: center;
}

.login-button button{
    width: 100%;
    font-size: 1.1rem;
    background-color: #1a1919;
    color: White;
    border: 1px solid;
    height: 2.5rem;
    border-radius: 0.6rem;
}
.login-button button:focus{
    background-color: white;
    color: #1a1919 !important;
}

.account{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.account a{
    text-decoration: none;
    color: rgb(39, 187, 236);
    margin-left: 0.5rem;
}